.payment-page {
}

:deep(.uni-section-header) {
  font-weight: 500 !important;
  padding-left: 30rpx !important;
  padding-bottom: 0 !important;
}

:deep(.uni-section-content) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:deep(.uni-list-item__container) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

:deep(.uni-list-item__content-title) {
  font-size: 32rpx !important;
  color: #3c3e42 !important;
}

:deep(.uni-list-item__extra-text) {
  font-size: 32rpx !important;
  color: #3c3e42 !important;
}

:deep(.uni-list-item__content-note) {
  font-size: 28rpx !important;
}

:deep(.uni-list-item__icon) {
  margin-right: 0 !important;
}

:deep(.uni-icon-wrapper) {
  padding: 0;
  margin-right: -10rpx;
  font-size: 36rpx !important;
}

.dividing-line {
  height: 30rpx;
  background-color: #f6f6f6;
}

.uni-list-text-red {
  color: #eb5757;
}

.uni-list-text-gray {
  color: #848484;
  font-size: 30rpx;
}

.payment-agreement {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 180rpx;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28rpx;

  :deep(.uni-radio-input),
  radio {
    transform: scale(0.75);
    /* #ifndef MP */
    margin-right: 4rpx;
    /* #endif */
  }
}

.next-step {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  height: 88rpx;
  padding: 30rpx 40rpx;
  background-color: #fff;

  .uni-button {
    width: 400rpx;
  }

  .total-amount {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 30rpx;
    color: #3c3e42;
  }

  .number {
    font-size: 40rpx;
    color: #eb5757;
    margin-left: 10rpx;
  }
}
