.medicine-page {
  height: 100vh;
  /* #ifdef H5 */
  height: calc(100vh - 44px);
  /* #endif */
  background-color: #f6f6f6;

  display: flex;
  flex-direction: column;
}

.order-status-tabs {
  padding: 20rpx 30rpx 0;
  background-color: #fff;

  :deep(.custom-tabs) {
    justify-content: space-evenly;
  }
}

.uni-scroll-view {
  flex: 1;
  overflow: hidden;
}

.order-list {
  padding: 30rpx;
}

.order-list-item {
  // height: 715rpx;
  padding: 0 30rpx;
  margin-bottom: 30rpx;
  border-radius: 10rpx;
  background-color: #fff;

  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100rpx;
    padding: 0 30rpx;
    margin: 0 -30rpx;
    font-size: 26rpx;
    border-bottom: 1rpx solid #f5f5f5;

    .number {
      color: #848484;
    }

    .status {
      color: #f2994a;
    }
  }

  .medicine {
    padding: 30rpx 0;
    border-bottom: 1rpx solid #f5f5f5;
    position: relative;

    .medicine-cover {
      width: 180rpx;
      height: 160rpx;
      float: left;
    }

    .medicine-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 160rpx;
      padding-left: 20rpx;

      .name {
        font-size: 30rpx;
        font-weight: 500;
        color: #121826;
      }

      .unit {
        color: #979797;
        font-size: 28rpx;
        display: flex;
        align-items: center;

        &.symbol::before {
          content: '处方药';
          line-height: 1;
          padding: 8rpx 10rpx;
          margin-right: 10rpx;
          border-radius: 4rpx;
          font-size: 24rpx;
          color: #fff;
          background-color: #16c2a3;
        }
      }

      .price {
        color: #eb5757;
        font-size: 32rpx;
      }
    }

    .quantity {
      top: 30rpx;
      right: 0;
      position: absolute;

      font-size: 30rpx;
      color: #121826;
    }
  }

  .order-footer {
    padding: 30rpx 0;

    .total {
      text-align: right;
      font-size: 24rpx;
      color: #3c3e42;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      padding-top: 20rpx;
    }

    .uni-button {
      height: 60rpx;
      line-height: 60rpx;
      margin: 0 0 0 30rpx;
      font-size: 26rpx;
      color: #16c2a3;
      border: 1rpx solid #16c2a3;
      background-color: #fff;

      &.minor {
        color: #3c3e42;
        border-color: #ededed;
        background-color: #fafafa;
      }
    }
  }
}
