.description-page {
  padding: 30rpx 30px 200rpx;
}

.doctor-online {
  display: flex;
  padding-bottom: 30rpx;
  border-bottom: 1rpx solid #ededed;

  .doctor-avatar {
    width: 110rpx;
    height: 110rpx;
  }

  .doctor-info {
    flex: 1;
    margin-left: 20rpx;
  }

  .name {
    line-height: 1;
    padding-left: 20rpx;
    font-size: 32rpx;
    color: #121826;
  }

  .message {
    line-height: 1.5;
    padding: 20rpx;
    margin: 20rpx 0;
    color: #6f6f6f;
    font-size: 26rpx;
    border-radius: 20rpx;
    background-color: #f6f6f6;
  }

  .tips {
    display: flex;
    align-items: center;
    color: #6f6f6f;
    font-size: 24rpx;
  }

  .icon-shield {
    font-size: 28rpx;
    margin-right: 5rpx;
  }
}

.patient-info {
  margin-top: 30rpx;

  .description {
    width: 100%;
    height: 240rpx;
    padding: 30rpx;
    border-radius: 20rpx;
    box-sizing: border-box;
    font-size: 30rpx;
    color: #121826;
    background-color: #f6f6f6;
  }

  .title {
    margin: 30rpx 0 10rpx;
    font-size: 28rpx;
    color: #3c3e42;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    .tag {
      line-height: 1;
      padding: 16rpx 20rpx 14rpx;
      margin: 20rpx 20rpx 20rpx 0;
      font-size: 26rpx;
      border-radius: 10rpx;
      color: #3c3e42;
      border: 1rpx solid transparent;
      background-color: #f6f6f6;

      &.active {
        color: #2cb5a5;
        border-color: #2cb5a5;
        background-color: rgba(44, 181, 165, 0.1);
      }
    }
  }
}

.patient-picture {
  margin-top: 30rpx;

  :deep(.uni-file-picker__header) {
    padding-top: 0;
    padding-bottom: 30rpx;
  }

  :deep(.file-title) {
    font-size: 28rpx;
    color: #3c3e42;
  }

  :deep(.file-count) {
    font-size: 28rpx;
  }

  :deep(.file-picker__box-content) {
    background-color: #f6f6f6;
    border: none !important;
    border-radius: 10rpx !important;
  }

  :deep(.icon-add) {
    width: 60rpx;
    height: 4rpx;
    background-color: #ccc;
  }

  :deep(.icon-del-box) {
    right: -3px !important;
    top: -3px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    transform: scale(0.6) rotate(-45deg) !important;
  }
}

.next-step {
  position: sticky;
  right: 0;
  left: 0;
  bottom: env(safe-area-inset-bottom);
  z-index: 100;
  padding: 30rpx 40rpx;
  background-color: #fff;
}
